@import './Variables.scss';

body {
    margin: 0%;
    font-family: $Inter;
    background-color: #ff8867a8;
    color: #fff;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff52ffb2;
    height: 80px;
    width: 100%;
    
    &--logo{
        margin-left: 30px;
        font-size: $mdText;
    }
    &--list{
        display:flex;
        list-style-type: none;
        margin-right: 30px;

        &--item{
            padding: 10px;
            font-size: $smText;
            
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text{
        margin-top: 30px;
        width: 840px;
        text-align: center;
        font-size: $smText;
        line-height: 25px;
        letter-spacing: 0.07em;
    }
    
    &--showcase{
        display: flex;
        justify-content: space-between;
        width: 1020px;
        margin: 10px;

        &--box{
            text-align: center;
        }
        
        &--image{
            height: 360px;
        }

        //SHOULD BE INCLUDED ON THE .GIF
        &--text{
            margin-top: -70px;
            color: #000;
        }
    }
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}


.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.connect-wallet-button {
  margin-top: 100px;
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {

  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  color: #FFF;
  font-size: $mdText;
  padding: 0 130px;
  height: 60px;
  display: block;
  margin: 0 auto;
}


.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
