@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

//FONTS
$Inter: 'Inter', sans-serif;

$smText: 20px;
$mdText: 25px;

//COLORS
$mainColor: #f0bcae;
$secColor: #ffaeff;